*{
    margin:0px;
    padding:0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}

body{
    display: flex;
}



.left-card{
    flex:0.9;
    height:100vh;
    
}

.right-card{
    flex:1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    background:url(img/photo-1499346030926-9a72daac6c63.avif);
}


.form-holder{
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.heading{
    color: rgba(15, 5, 5, 0.416);
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form{
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    
}

.row1,.row2,.row3{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:10px;
}

.row1 label,.row2 label,.row3 label{
    display: block;
    width: 200px;
}

input{
    display: block;
    width: 200px;
    height: 31px;
    font-size: 0.94rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    color: white;
    background-color: rgb(46, 46, 200);
    border: 1px solid white;
    height: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
}

button:hover{
    background-color:rgb(63, 63, 132);
    border: 1px solid black;

}

.footer {
    font-size: 0.79rem;
}

.footer a{
    font-size: 0.75rem;
    color: green;
}

.logo-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.logo{
    position:relative;
    right: 17px;
    justify-self: center;
    align-self: center;
}

.logo p{
    font-size: 7rem;
    letter-spacing: -33px;
    font-weight: bolder;
    color: blanchedalmond;
    text-shadow: -2px 12px white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.desc p{
    font-size: 1.8rem;
    letter-spacing: -2px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow: -0.2px 0.1px blanchedalmond;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media(max-width:850px){

    body{
        flex-direction: column;
    }

    .logo-holder{
        height: 800px;
    }

    .desc p{
        font-size: 1.4rem;
    }

    .form-holder{
        height: 800px;
    }

    input{
        width: 180px;
        height: 21px;
        font-size: 0.7rem;
    }
    .footer {
        font-size: 0.6rem;
    }
    
    .footer a{
        font-size: 0.59rem;
        color: green;
    }

    .row1 label,.row2 label,.row3 label{
        width: 180px;
    }

    .heading{
        font-size: 1.4rem;
    }
}